<header style="background: #3f51b5; height: 300px; color: #ffff">
    <div style="display: grid; place-content: center; align-items: center;">
        <div style="margin-top: 40px; text-align: center;">
            <img src="https://qrcgcustomers.s3-eu-west-1.amazonaws.com/account784477/25253401_1.png?0.26187447542057596" style="border-radius: 50%; height: 100px;">
        </div>
        <div style="text-align: center;">
            <h2>Simone Covre</h2>
            <h4 style="margin-bottom: 36px; color: #fffefe; opacity: 0.75; font-weight: 300;">Software Analyst</h4>
        </div>
        <div style="display: grid; grid-template-columns: auto auto auto; grid-gap: 50px; text-align: center;">
            <div>
                <a style="display: grid; place-content: center; place-items: center; text-align: center;">
                    <fa-icon [icon]="faPhone"></fa-icon>
                    <small>CHIAMA</small>
                </a>
            </div>
            <div>
                <a style="display: grid; place-content: center; place-items: center;">
                    <fa-icon [icon]="faPaperPlane"></fa-icon>
                    <small>EMAIL</small>
                </a>
            </div>
            <div>
                <a style="display: grid; place-content: center; place-items: center;">
                    <fa-icon [icon]="faLocationDot"></fa-icon>
                    <small>INDICAZIONI</small>
                </a>
            </div>
        </div>
    </div>
</header>

<div style="margin-top: 10px;">
<div style="color: #323032">
    <div style="display: grid; grid-template-columns: auto auto auto auto; padding: 10px 0;">
        <div style="display: grid; place-content: center; place-items: center;">
        <fa-icon [icon]="faPhone" style="color: #b3b4bb;"></fa-icon>
        </div>
        <div>
        <h4 style="margin-bottom: 0px;">
            <a>+393922609458</a>
        </h4>
        <small style="color: #b3b4bb;">Cellulare</small>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div style="display: grid; grid-template-columns: auto auto auto auto; padding: 10px 0;">
    <div style="display: grid; place-content: center; place-items: center;">
        <fa-icon [icon]="faEnvelope" style="color: #b3b4bb;"></fa-icon>
    </div>
    <div>
        <h4 style="margin-bottom: 0px;">
            <a>s.covre@forj.it</a>
        </h4>
        <small style="color: #b3b4bb;">Email</small>
    </div>
    </div>
    <mat-divider></mat-divider>
    <div style="display: grid; grid-template-columns: auto auto auto auto; padding: 10px 0;">
        <div style="display: grid; place-content: center; place-items: center;">
            <fa-icon [icon]="faBriefcase" style="color: #b3b4bb;"></fa-icon>
        </div>
        <div>
            <h4 style="margin-bottom: 0px;">
                <a>ForJ</a>
            </h4>
            <small style="color: #b3b4bb;">Software Analyst</small>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div style="display: grid; grid-template-columns:  auto auto auto; padding: 10px 0;">
        <div style="display: grid; place-content: center; place-items: center;">
            <fa-icon [icon]="faLocationDot" style="color: #b3b4bb;"></fa-icon>
        </div>
        <div>
            <h4 style="margin-bottom: 0px;">
                <a>Viale Italia 118<br> La Spezia, Liguria 19125<br> Italia</a>
            </h4>
            <small style="color: #b3b4bb;">Indirizzio</small>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div style="display: grid; grid-template-columns: auto auto auto auto; padding: 10px 0;">
        <div style="display: grid; place-content: center; place-items: center;">
            <fa-icon [icon]="faGlobe" style="color: #b3b4bb;"></fa-icon>
        </div>
        <div>
            <h4 style="margin-bottom: 0px;">
                <a>www.forj.it</a>
            </h4>
            <small style="color: #b3b4bb;">Pagina Web</small>
        </div>
    </div>
</div>

</div>
